<ion-view view-title="Deck Details">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Title</span>
                <input type="text" placeholder="Title" ng-model="ctrl.deck.title">
            </label>

            <div class="item">
                <span class="input-label">Colors</span>

                <div class="row">
                    <div class="col">
                        <span class="input-label">White</span>
                        <label class="toggle toggle-white">
                            <input type="checkbox" ng-model="ctrl.deck.colors.white">

                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <div class="col">
                        <span class="input-label">Blue</span>
                        <label class="toggle toggle-positive">
                            <input type="checkbox" ng-model="ctrl.deck.colors.blue">

                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <div class="col">
                        <span class="input-label">Black</span>
                        <label class="toggle toggle-dark">
                            <input type="checkbox" ng-model="ctrl.deck.colors.black">

                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <div class="col">
                        <span class="input-label">Red</span>
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" ng-model="ctrl.deck.colors.red">

                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <div class="col">
                        <span class="input-label">Green</span>
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="ctrl.deck.colors.green">

                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>


            <label class="item">
                <div class="row">
                    <span class="input-label">Picture</span>
                    <button class="button button-icon icon ion-camera" ng-click="ctrl.takePicture()"></button>
                </div>

                <div class="row">
                    <img class="padding" style="display:block;margin:auto" width="312px" ng-src="{{ctrl.deck.image}}"/>
                </div>
            </label>

        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="ctrl.save()">
                Save
            </button>
        </div>
    </ion-content>
</ion-view>
