.counter-row {
  height: 50%;
}

.bottom-counter-row {
  border-top: 3px solid black;
}

.counter-container {
  margin-top: 43px;
  width: 100%;
  position: relative;
}

.bottom-counter-container {
  margin-bottom: 43px;
  width: 100%;
}

.top-counter-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.counter-number {
  display: inline-block;
  margin: 10px 30px;
  font-size: 60px;
}

.counter-range {
  margin: auto;
  width: 270px;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.vs-label {
  position: absolute;
  font-size: 30px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -30px;
  padding: 10px;
  background-color: white;
}

.player-opponent {
  position: relative;
  left: 50%;
  margin-left: -150px;
}

.player-self {
  position: relative;
  right: -50%;
  margin-left: -50px;
}

.player-label {
  display: inline-block;
  position: relative;
  top: -18px;
  font-size: 20px
}

.radius-25 {
  border-radius: 25px;
}